plots/*

*.DS_Store

data1.txt

*.png

# *.txt

work/first_anims/

work/dataout1/
work/data/*
work/analysis/*
work/df_dataout*

work/txt_data_files/
work/plot_outputs/

work/tests/test_data/

other_plots/

math/
notes/


*.pyc

*.gif
*.mp4
